@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto:wght@100;300;400;700&display=swap');

.App {
  text-align: center;
  background-image: url(./imgs/hacker-news-bg.jpg);
  background-size: cover;
  background-position: center;
}

header .container {
  display: flex;
  max-width: 1280px;
  width: 100%;
  margin: 0px auto;
  justify-content: space-between;
}

.logo {
  display: flex;
  cursor: pointer;
}

.logo .image {
  background-color:#FC5500;
  width: 70px;
  height: 70px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: 'Passion One' ;
  margin: 10px;
}

.logo .name {
  font-family: 'Passion One';
  font-size: 3rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

nav li a { 
  color: white; 
  padding: 1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.login {
  color: #FC5500
}

.font-white {
  color: white;
}

.news {
  background: white;
  display: flex;
  max-width: 1280px;
  margin: 20px auto;
  padding: 1rem;
  border-radius: 5px;
  align-items: center;
  justify-content:flex-start;
  padding: .5rem;
  font-family: 'Roboto', sans-serif;
}

.news .text {

  text-align: left;
}



.news div:nth-child(2) {
  width: 50%;
  padding-left: 1rem;
  font-weight: 700;

}

.news div:nth-child(3) {
 flex-grow: 1;
}

.news div:nth-child(4) {
  flex-grow: 1;
}

.news div:nth-child(5) {
  flex-grow: 1;
}

.news div:nth-child(6) {
  flex-grow: 1;
}


.news .icon_text {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.icon_inside {
  width: 30px;
}

.chat_icon {
  background-color: black;
  width: 30px;
  color: white;
  padding: .25rem .40rem ;
  border-radius: 5px;
  position: relative;
}

.chat_icon::after {
  position: absolute;
  background: black;
  bottom: -15px;
  left: 0px;
  width: 10px;
  height: 15px;
}

.icon_text span { padding: .5rem}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
